startbootstrap-sb-admin-2-gh-pages/.vs/startbootstrap-sb-admin-2-gh-pages/v17/.wsuo
startbootstrap-sb-admin-2-gh-pages/.vs/slnx.sqlite
startbootstrap-sb-admin-2-gh-pages/.vs/startbootstrap-sb-admin-2-gh-pages/v17/DocumentLayout.json
startbootstrap-sb-admin-2-gh-pages/.vs/startbootstrap-sb-admin-2-gh-pages/v17/workspaceFileList.bin
startbootstrap-sb-admin-2-gh-pages/.vs/ProjectSettings.json
startbootstrap-sb-admin-2-gh-pages/.vs/startbootstrap-sb-admin-2-gh-pages/config/applicationhost.config
startbootstrap-sb-admin-2-gh-pages/.vs/VSWorkspaceState.json
startbootstrap-sb-admin-2-gh-pages/.vs/startbootstrap-sb-admin-2-gh-pages/FileContentIndex/89bcdef3-12f3-440f-b994-5cdfe19ba4df.vsidx
startbootstrap-sb-admin-2-gh-pages/startbootstrap-sb-admin-2-gh-pages/.travis.yml
